In [1]:
import pandas as pd

In [2]:
df_file = "../../datasets/networks_projects/9606.protein.links.detailed.v11.0.txt"

In [3]:
df = pd.read_csv(df_file, sep=' ')

In [4]:
df

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,textmining,combined_score
0,9606.ENSP00000000233,9606.ENSP00000272298,0,0,332,62,181,0,125,490
1,9606.ENSP00000000233,9606.ENSP00000253401,0,0,0,0,186,0,56,198
2,9606.ENSP00000000233,9606.ENSP00000401445,0,0,0,0,159,0,0,159
3,9606.ENSP00000000233,9606.ENSP00000418915,0,0,0,61,158,0,542,606
4,9606.ENSP00000000233,9606.ENSP00000327801,0,0,0,88,78,0,89,167
...,...,...,...,...,...,...,...,...,...,...
11759449,9606.ENSP00000485678,9606.ENSP00000310488,0,0,0,167,0,0,0,167
11759450,9606.ENSP00000485678,9606.ENSP00000342448,0,0,0,175,0,0,0,175
11759451,9606.ENSP00000485678,9606.ENSP00000350222,0,0,0,195,0,0,0,195
11759452,9606.ENSP00000485678,9606.ENSP00000367590,0,0,0,0,0,900,0,900
11759453,9606.ENSP00000485678,9606.ENSP00000349930,0,0,0,213,0,0,0,213

In [5]:
df['protein1'] = df['protein1'].str[5:]
df['protein2'] = df['protein2'].str[5:]
del df['textmining']

In [6]:
df

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,combined_score
0,ENSP00000000233,ENSP00000272298,0,0,332,62,181,0,490
1,ENSP00000000233,ENSP00000253401,0,0,0,0,186,0,198
2,ENSP00000000233,ENSP00000401445,0,0,0,0,159,0,159
3,ENSP00000000233,ENSP00000418915,0,0,0,61,158,0,606
4,ENSP00000000233,ENSP00000327801,0,0,0,88,78,0,167
...,...,...,...,...,...,...,...,...,...
11759449,ENSP00000485678,ENSP00000310488,0,0,0,167,0,0,167
11759450,ENSP00000485678,ENSP00000342448,0,0,0,175,0,0,175
11759451,ENSP00000485678,ENSP00000350222,0,0,0,195,0,0,195
11759452,ENSP00000485678,ENSP00000367590,0,0,0,0,0,900,900
11759453,ENSP00000485678,ENSP00000349930,0,0,0,213,0,0,213

In [7]:
df = df[['protein1', 'protein2', 'combined_score', 'neighborhood', 'fusion', 'cooccurence', 'coexpression', 'experimental', 'database']]
df

,protein1,protein2,combined_score,neighborhood,fusion,cooccurence,coexpression,experimental,database
0,ENSP00000000233,ENSP00000272298,490,0,0,332,62,181,0
1,ENSP00000000233,ENSP00000253401,198,0,0,0,0,186,0
2,ENSP00000000233,ENSP00000401445,159,0,0,0,0,159,0
3,ENSP00000000233,ENSP00000418915,606,0,0,0,61,158,0
4,ENSP00000000233,ENSP00000327801,167,0,0,0,88,78,0
...,...,...,...,...,...,...,...,...,...
11759449,ENSP00000485678,ENSP00000310488,167,0,0,0,167,0,0
11759450,ENSP00000485678,ENSP00000342448,175,0,0,0,175,0,0
11759451,ENSP00000485678,ENSP00000350222,195,0,0,0,195,0,0
11759452,ENSP00000485678,ENSP00000367590,900,0,0,0,0,0,900
11759453,ENSP00000485678,ENSP00000349930,213,0,0,0,213,0,0

In [8]:
df.to_csv("../../datasets/networks_projects/ppi_detailed_processed.txt", sep=' ', index=False, header=True)